@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;
  margin-top: 60px;
}

h1, h2, h3, h4 {
  font-family: 'Droid Serif', serif;
  text-align: center;
}
@media screen and (min-width: 768px) {
  h1, h2, h3, h4 {
    text-align: left;
  }
}

.navbar-brand {
  font-size: 2rem;
}

.navbar-nav {
  text-align: center;
}
.navbar-header .brand-container {
  display: inline-block;
  height: 100%;
  padding-left: 15px;
  margin-bottom: -10px;
}
.navbar-header .brand-container.active,
.navbar-header .brand-container.active:hover {
  background-color: white;
}
.navbar-header .brand-container.active .navbar-brand:hover,
.navbar-header .brand-container.active .navbar-brand {
  color: #555;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: white;
  color: #555;
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    text-align: left;
  }
}

.navbar-default {
  background-color: #cde5f2;
  border: none;
}

.row {
  margin-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .row {
    /*margin-bottom: 25px;*/
  }
}

.image {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
}
.image-container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .image-container {
    text-align: left;
  }
}

.btn-container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .btn-container {
    text-align: left;
  }
}

.home__pitch {
  text-align: center;
}
.home__pitch h1,
.home__pitch h3 {
  text-align: center;
}
.home__pitch .content {
  margin-bottom: 25px;
}
.home__pitch .image-container {
  display: inline-block;
  text-align: center;
}
.home__pitch .image {
  display: inline-block;
  max-width: 250px;
  margin: 15px;
}
/*@media screen and (min-width: 768px) {*/
  /*.home__pitch .image {*/
    /*margin: 0 15px;*/
  /*}*/
/*}*/

.home__acupuncture .content  {
  margin-top: 20px;
}
.home__acupuncture .content h2 {
  margin-bottom: 25px;
}
.home__acupuncture .content p {
  margin-bottom: 25px;
}

.home__zero-balancing .content  {
  margin-top: 20px;
}
.home__zero-balancing .content h2 {
  margin-bottom: 25px;
}
.home__zero-balancing .content p {
  margin-bottom: 25px;
}

.home__about .content h2 {
  margin-bottom: 25px;
}
.home__about .content p {
  margin-bottom: 25px;
}

.home__why .content h2 {
  margin-bottom: 25px;
}
.home__why .content p {
  margin-bottom: 25px;
}

.acupuncture__pitch {
  text-align: center;
}
.acupuncture h1,
.acupuncture h3 {
  text-align: center;
}
.acupuncture .content {
  margin-bottom: 25px;
}
.acupuncture .image-container {
  display: inline-block;
  text-align: center;
}
.acupuncture .image {
  display: inline-block;
  max-width: 250px;
  margin: 15px;
}

.contact {
  max-width: 800px;
  margin: 0px auto;
  margin-bottom: 50px;
}
.contact .form-control {
  margin: 15px 0;
}
